.Flex-container {
    display: flex;
    flex-flow: row wrap;
}

.Flex-1 {
    flex: 1;
}

.Flex-2 {
    flex: 2;
}

.Flex-3 {
    flex: 3;
}

.Flex-4 {
    flex: 4;
}

.Flex-5 {
    flex: 5;
}

.Flex-6 {
    flex: 6;
}

.Flex-7 {
    flex: 7;
}

.Flex-8 {
    flex: 8;
}

.Flex-9 {
    flex: 9;
}

.Flex-10 {
    flex: 10;
}

.Flex-11 {
    flex: 11;
}

.Flex-12 {
    flex: 12;
}